.about{
 &_text_title{

   h1{
    font-family:'Courier New', Courier, monospace;
 
    font-size: 100px;
  }
 }
 
}

@media (max-width: 500px){
  .about{
    &_text_title{
      h1{
        font-size: 50px;
        padding-top: 10px;
      }
    }
  }
  
}
