@tailwind base;
@tailwind components;
@tailwind utilities;






.mainpage{
    position: relative;

    &__bg__wrapper{
        position: relative;
        z-index: 1;
    }


    &__title-content{
        position: absolute;
        max-width: 400px;
        margin: 0 auto;
        z-index: 100;
       

        h1{
  
            font-size: 48px;
            font-family: Tiempos Headline,serif;
            text-align: center;
            text-shadow: 0 4px 24px rgb(0 0 0 / 35%);
            line-height: 1;
            margin-bottom: 30px;
            color: white;
         
            margin-bottom: 30px;
            position: absolute;
            top: -530px;
            margin-left: 50px;
             font-weight: 400px;
           
        }
     


        .mainpage__service-btn {
            background-color: #1e1e1e;
            border-color: #1e1e1e;
            color: #fff;
            min-height: 60px;
            width: 100%;
            max-width: none;
            font-weight: 700;
            position: relative;
            cursor: auto;
            opacity: .8;
            font-size: 15px;
            position: relative;
            padding: 20px 80px;
            bottom: 370px;
            margin-left: 50px;
            
            text-decoration: none;
        }

        &__service-btn:hover{
            -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
            box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        } 

    }
    
    .about-section {
        h2{
            color: blue;
        }
    }

    .Lmore-btn:hover{
        -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    }

    .carousel-conatiner{
        width: 100%;
        height: 618px;
       
        padding: 40px;
        margin-bottom: 30px;

        .slide{
            background-color: #1e1e1e;
            border-radius: 10px;
        }
    }
}






//service card style



/* differenet media size*/




@media  (min-width: 500px){

    .mainpage{
        
        
        &__title-content{
          h1{
            
          }
          .mainpage__service-btn{
            
          }
        }
      .about-section{
          display: flex;
          flex-direction: row;
          &__inner_container{
              
          }
          &_intrPage{
            h1{
                font-size: large;
            }
          }
        }

        .about-section_intrPage{
            padding: 0px;
        }
  
     }
  
}
@media (max-width: 500px) {
    .mainpage{

        
        &__title-content{
            justify-content: center;
            align-items: center;
            text-align: center;
            left: 50px;
            
          h1{
              font-size: 30px;
             
             
          }
          .mainpage__service-btn{
              font-size: 20px;
             margin: 2px;
             padding: 15px;
              
          }
        }
    }
}